@font-face {
    font-family: Pretendard;
    font-weight: 400;
    src: url(./font53/Pretendard-Regular.woff) format("woff")
}

@font-face {
    font-family: Pretendard;
    font-weight: 500;
    src: url(./font53/Pretendard-Medium.woff) format("woff")
}

@font-face {
    font-family: Pretendard;
    font-weight: 600;
    src: url(./font53/Pretendard-SemiBold.woff) format("woff")
}

@font-face {
    font-family: Pretendard;
    font-weight: 700;
    src: url(./font53/Pretendard-Bold.woff) format("woff")
}
:root {
        --gnb-height: 72px;
    }
element.style {
    overflow: visible;
        color: #00000000;
}
html, body, #__next {
    font-family: font, "font Fallback";
    line-height: 1.5;
    color: rgb(41, 51, 65);
}
html, body, #__next {
    width: 100%;
    padding: 0px;
    margin: 0px;
}
html, body {
    height: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
}
* {
    box-sizing: border-box;
    word-break: break-word;
}
body {
    display: block;
    margin: 8px;
}
    .header-class-3 {
        max-width: 1010px;
        padding: 18px 20px;
        margin: 0px auto;
        display: flex
;
    -webkit-box-align: center;
    align-items: center;
   
    height: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    }

#__next {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.header-class-1 {
    display: block;
    height: var(--gnb-height);
    z-index: 1000;
    position: sticky;
    top: 0px;
    width: 100%;
    color: rgb(41, 51, 65);
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(239, 241, 245);
}
.header-class-2 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 16px;
    height: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 1010px;
    padding: 18px 20px;
    margin: 0px auto;
}

.tl-container-1 {
    display: flex;
    gap: 30px;     
    align-items: center;
    flex: inherit;
            gap: 30px;
        /* -webkit-box-align: center; */
        align-items: center;
        flex: inherit;
}

.tl-relative-1 {
    display: none;
    position: relative;
}
.bt-container-2 {
    font-weight: 500;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    color: rgb(41, 51, 65);
    border-color: transparent;
    background-color: transparent;
    padding: 0px;
    font-size: 14px;
    width: initial;
    display: flex;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    background-color: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
}
.a-container-1 {
    display: flex;
}
a {
    color: inherit;
    text-decoration: none;
}
.img-wrap-1 {
        margin-top: 1px;
        display: inline-block;
    }
.nav-container-1 {
display: flex;
}
.tb-wrap-1 {
    display: flex;
}
ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.tb-class-1 {
    min-height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: rgb(28, 36, 47);
    text-align: left;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.tc-container-1 {
        flex: inherit;
}
.form-wrap-1 {
    position: relative;
    display: block;
    width: 280px;
    height: 40px;
    animation: initial;
}
.tc-wrap-1 {
    height: 100%;
    flex-basis: 44px;
    padding: 0px 10px;
    border: 2px solid transparent;
    border-radius: 6px;
    background-color: rgb(239, 241, 245);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}
.bt-wrap-1 {
    display: none;
}

.ip-wrap-1 {
        background-color: transparent;
        font-size: 14px;
        width: 100%;
    
    height: 100%;
    padding: 0px 0px 0px 12px;
    color: rgb(41, 51, 65);
    caret-color: rgb(105, 59, 242);
    }
    input {
    border: none;
    padding: 0px;
    outline: none;
}
.tr-container-1 {
    flex: inherit;
}
.tr-container-3 {
   
    margin-left: auto;
}
.tr-container-5 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 20px;
}
.tr-tb-container-1 {
    font-size: 14px;
    line-height: 20px;
}
.tr-tb-container-1 > ul > li.nav-item {
            display: list-item;
}
.tb-wrap-3 {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    user-select: none;
    transition-property: color, border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    color: rgb(255, 255, 255);
    border-color: rgb(105, 59, 242);
    background-color: rgb(105, 59, 242);
    padding: 7px 14px;
    font-size: 14px;
    border-radius: 6px;
    width: initial;
}
